<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tentang - PKM Suhu</title>
    <link rel="icon" href="static/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="static/css/home-style.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="static/img/logo-white.png" alt="PKM PI Polinema" style="width: 100px; height: auto" />
      <ul class="nav-links">
        <li><a href="{{ url_for('index') }}">Beranda</a></li>
        <li><a href="{{ url_for('predict') }}">Prediksi</a></li>
        <li><a href="{{ url_for('about') }}">Tentang</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="text-section">
        <h1>Tentang Kami</h1>
        <p>Selamat datang di PKM PI Polinema's Smart Farming Initiative!</p>
        <p>Misi kami adalah memberdayakan petani dengan informasi cuaca real-time dan panduan ahli untuk mengoptimalkan hasil panen mereka. Melalui platform kami, Anda dapat mengakses data suhu terbaru dan menerima instruksi perawatan yang disesuaikan untuk tanaman jeruk Anda.</p>
        <p>Bergabunglah dengan kami dalam perjalanan untuk merevolusi pertanian dengan teknologi dan membuat pertanian lebih cerdas dan efisien.</p>
        <p>Untuk informasi lebih lanjut, silakan hubungi kami di: <a href="mailto:pkmpolinemaprediksisuhu@gmail.com">pkmpolinemaprediksisuhu@gmail.com</a></p>
        <br></br>
        <footer>© PKM PI Polinema Prediksi Suhu - 2024</footer>
      </div>
      <div class="image-section">
        <img src="static/assets/images/phone01.png" alt="Pohon" />
      </div>
    </div>
  </body>
</html>
