<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beranda - PKM Suhu</title>
    <link rel="icon" href="static/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="static/css/home-style.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="static/img/logo-white.png" alt="PKM PI Polinema" style="width: 100px; height: auto" />
      <ul class="nav-links">
        <li><a href="{{ url_for('index') }}">Beranda</a></li>
        <li><a href="{{ url_for('predict') }}">Prediksi</a></li>
        <li><a href="{{ url_for('about') }}">Tentang</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="text-section">
        <h1>Halo Smart Farmer!</h1>
        <p>Temukan Cuaca Ideal untuk Jeruk Anda: Periksa Suhu Terkini dan Panduan Perawatan Kebun</p>
        <a href="{{ url_for('predict') }}" class="cta-button">Cek Sekarang</a>
        <br></br>
        <footer>© PKM PI Polinema Prediksi Suhu - 2024</footer>
      </div>
      <div class="image-section">
        <img src="static/assets/images/phone01.png" alt="Pohon" />
      </div>
    </div>
  </body>
</html>
